node_modules
*.abi
*.wasm
*.log
target
!include/atomicassets/*
.vscode
.deps
artifacts
.env
bin
node_modules
.env
.DS_Store

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
